<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-24">
      <h1>
        <b>{{ title }}</b>
      </h1>
      <ul class="list-group">
        <app-post-list-component></app-post-list-component>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
