<li
  [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': loveIts > 0,
    'list-group-item-danger': loveIts < 0
  }"
>
  <p style="text-align: right">{{ created_at | async | date: 'medium' }}</p>
  <h2>{{ title }}</h2>
  <h3>{{ content }}</h3>
  <div>
    <button class="btn btn-success" style="background-color: green; margin-right: 0.5vw" (click)="incremente()">Love it!</button>
    <button class="btn btn-success" style="background-color: red" (click)="decremente()">Dislike it!</button>
  </div>
</li>
